# Virtual environment
.venv/

# Environment variables / secrets
.env

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# PostgreSQL / local database files
*.db
*.sqlite


# Dataset
data/nyc_crash_data.csv